Repository AY2021S1-CS2113T-F11-1/tp, pull requests merged in 2020-10, with the labels that each got.

#30 Merge basic diet features to branch
  src/main/java/diet/dietmanager/CommandLib.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietmanager/DietManagerParser.java
  src/main/java/diet/dietmanager/DietManagerUI.java
  src/main/java/diet/dietmanager/ExitException.java
  src/main/java/diet/dietmanager/command/Command.java
  src/main/java/diet/dietmanager/command/DietSessionCreate.java
  src/main/java/diet/dietmanager/command/DietSessionList.java
  src/main/java/diet/dietmanager/command/DietSessionWrong.java
  src/main/java/diet/dietsession/CommandLib.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/DietSessionParser.java
  src/main/java/diet/dietsession/DietSessionUI.java
  src/main/java/diet/dietsession/ExitException.java
  src/main/java/diet/dietsession/Food.java
  src/main/java/diet/dietsession/command/Command.java
  src/main/java/diet/dietsession/command/FoodItemAdd.java
  src/main/java/diet/dietsession/command/FoodItemDelete.java
  src/main/java/diet/dietsession/command/FoodItemShow.java
  src/main/java/diet/dietsession/command/FoodItemWrong.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/DietManagerStorage.java
  src/main/java/storage/DietSessionStorage.java
  text-ui-test/EXPECTED.TXT
  text-ui-test/input.txt
Labels: diet, priority.High

#34 Add ability to add, load and save user profile
  .gitignore
  src/main/java/profile/ProfileManager.java
  src/main/java/profile/commands/Command.java
  src/main/java/profile/commands/CommandResult.java
  src/main/java/profile/commands/ExitCommand.java
  src/main/java/profile/components/Constants.java
  src/main/java/profile/components/ExceptionHandler.java
  src/main/java/profile/components/Profile.java
  src/main/java/profile/exceptions/InvalidCommandWordException.java
  src/main/java/profile/exceptions/InvalidSaveFormatException.java
  src/main/java/profile/exceptions/LoadingException.java
  src/main/java/profile/exceptions/RedundantParamException.java
  src/main/java/profile/exceptions/SavingException.java
  src/main/java/profile/exceptions/SchwarzeneggerException.java
  src/main/java/profile/parser/ProfileParser.java
  src/main/java/profile/storage/Storage.java
  src/main/java/profile/ui/ProfileUi.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/workout/AerobicTrainingRecord.java
  src/main/java/workout/BodyPart.java
  src/main/java/workout/StrengthTrainingRecod.java
  src/main/java/workout/WorkOutRecord.java
  src/test/java/profile/ProfileTest.java
  src/test/java/workout/WorkOutRecordTest.java
  text-ui-test/EXPECTED.TXT
Labels: priority.High, profile

#39 Add ability to view added profile in the database
  build.gradle
  src/main/java/profile/ProfileSession.java
  src/main/java/profile/commands/AddCommand.java
  src/main/java/profile/commands/Command.java
  src/main/java/profile/commands/DeleteCommand.java
  src/main/java/profile/commands/ExitCommand.java
  src/main/java/profile/commands/ViewCommand.java
  src/main/java/profile/components/Constants.java
  src/main/java/profile/components/Profile.java
  src/main/java/profile/exceptions/InvalidSaveFormatException.java
  src/main/java/profile/parser/ProfileParser.java
  src/main/java/profile/storage/Storage.java
  src/main/java/profile/ui/ProfileUi.java
  src/main/java/seedu/duke/Duke.java
  src/test/java/profile/ProfileTest.java
  src/test/java/profile/exampleProfileData.txt
  src/test/java/profile/invalidProfileData.txt
Labels: priority.High, profile

#29 Merge basic diet features to master
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/seedu/duke/Duke.java
Labels: diet, priority.High

#44 Update profile testing v1.0
  src/main/java/profile/Profile.java
  src/main/java/profile/ProfileManager.java
  src/main/java/profile/ProfileSession.java
  src/main/java/profile/commands/AddCommand.java
  src/main/java/profile/commands/Command.java
  src/main/java/profile/commands/DeleteCommand.java
  src/main/java/profile/commands/ExitCommand.java
  src/main/java/profile/commands/ViewCommand.java
  src/main/java/profile/parser/ProfileParser.java
  src/main/java/profile/storage/Storage.java
  src/main/java/profile/ui/ProfileUi.java
  src/test/java/profile/storage/StorageTest.java
  src/test/java/profile/storage/exampleProfileData.txt
  src/test/java/profile/storage/invalidProfileData.txt
Labels: priority.High, profile

#60 Add ability to log information to file instead of console
  .gitignore
  src/main/java/logger/SchwarzeneggerLogger.java
  src/main/java/profile/ProfileSession.java
  src/main/java/profile/commands/AddCommand.java
  src/main/java/profile/commands/Command.java
  src/main/java/profile/commands/DeleteCommand.java
  src/main/java/profile/commands/ExitCommand.java
  src/main/java/profile/commands/ViewCommand.java
  src/main/java/profile/parser/ProfileParser.java
  src/main/java/profile/storage/Storage.java
  src/main/java/seedu/duke/Constant.java
  src/main/java/seedu/duke/Duke.java
  src/test/java/profile/storage/StorageTest.java
Labels: enhancement

#76 Refactor redundant package naming
  docs/_config.yml
  src/main/java/commands/Command.java
  src/main/java/commands/CommandLib.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionLoad.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemShow.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/commands/workout/workoutmanager/ByeWS.java
  src/main/java/commands/workout/workoutmanager/ClearWS.java
  src/main/java/commands/workout/workoutmanager/DeleteWS.java
  src/main/java/commands/workout/workoutmanager/EditWS.java
  src/main/java/commands/workout/workoutmanager/ExecutionResult.java
  src/main/java/commands/workout/workoutmanager/HelpWS.java
  src/main/java/commands/workout/workoutmanager/ListWS.java
  src/main/java/commands/workout/workoutmanager/NewWS.java
  src/main/java/commands/workout/workoutmanager/WrongWS.java
  src/main/java/exceptions/ExceptionHandler.java
  src/main/java/workout/workoutmanager/WorkoutManager.java
  src/test/java/diet/DietTest.java
  src/test/java/workout/workoutmanager/CommandLibTest.java
Labels: severity.VeryLow

#79 Make code more OOP
  .gitignore
  data/profile/profile.txt
  src/main/java/commands/Command.java
  src/main/java/commands/CommandLib.java
  src/main/java/commands/ExecutionResult.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionLoad.java
  src/main/java/commands/profile/AddProfile.java
  src/main/java/commands/profile/Command.java
  src/main/java/commands/profile/DeleteProfile.java
  src/main/java/commands/profile/EndProfile.java
  src/main/java/commands/profile/ViewProfile.java
  src/main/java/commands/workout/workoutmanager/ByeWS.java
  src/main/java/commands/workout/workoutmanager/ClearWS.java
  src/main/java/commands/workout/workoutmanager/DeleteWS.java
  src/main/java/commands/workout/workoutmanager/EditWS.java
  src/main/java/commands/workout/workoutmanager/HelpWS.java
  src/main/java/commands/workout/workoutmanager/ListWS.java
  src/main/java/commands/workout/workoutmanager/NewWS.java
  src/main/java/commands/workout/workoutmanager/WrongWS.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/logger/SchwarzeneggerLogger.java
  src/main/java/profile/ProfileSession.java
  src/main/java/profile/parser/ProfileParser.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/diet/Storage.java
  src/main/java/storage/profile/Storage.java
  src/main/java/storage/workout/Storage.java
  src/main/java/workout/workoutmanager/WorkoutManager.java
  src/main/java/workout/workoutsession/WorkoutSession.java
  src/test/java/profile/storage/StorageTest.java
Labels: priority.Medium, type.Task

#82 Add dg skeleton
  .github/workflows/gradle.yml
  docs/DeveloperGuide.md
  docs/umldiagram/commands.puml
  docs/umldiagram/style.puml
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemShow.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/command/Command.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/diet/Storage.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/test/java/diet/dietsession/DietSessionTest.java
  src/test/java/diet/dietsession/DietSessionUiTest.java
  text-ui-test/EXPECTED.TXT
Labels: documentation, priority.High

#85 Add command summary for diet session and meal session
  docs/UserGuide.md
Labels: documentation

#87 Adjust Profile Command
  src/main/java/commands/Command.java
  src/main/java/commands/CommandResult.java
  src/main/java/commands/profile/AddProfile.java
  src/main/java/commands/profile/Command.java
  src/main/java/commands/profile/DeleteProfile.java
  src/main/java/commands/profile/EndProfile.java
  src/main/java/commands/profile/ViewProfile.java
  src/main/java/exceptions/profile/InvalidAgeException.java
  src/main/java/exceptions/profile/InvalidCommandFormatException.java
  src/main/java/exceptions/profile/InvalidCommandWordException.java
  src/main/java/exceptions/profile/InvalidHeightException.java
  src/main/java/exceptions/profile/InvalidWeightException.java
  src/main/java/logger/SchwarzeneggerLogger.java
  src/main/java/profile/Constants.java
  src/main/java/profile/Profile.java
  src/main/java/profile/ProfileParser.java
  src/main/java/profile/ProfileSession.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/profile/Storage.java
  src/main/java/ui/profile/ProfileUi.java
Labels: profile, severity.Medium

#89 Update table of contents and command highlighting
  docs/UserGuide.md
Labels: documentation

#91 Update linking
  docs/UserGuide.md
Labels: documentation

#90 Fix editing in diet session
  docs/DeveloperGuide.md
  src/main/java/commands/CommandLib.java
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietmanager/DietSessionHelp.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemHelp.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/storage/diet/Storage.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
Labels: bug, severity.Low, type.Bug

#94 formatted some output for main and workout session
  src/main/java/commands/CommandLib.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionHelp.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionSearch.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSession.java
Labels: workout

#93 Update command summary table in UG
  docs/UserGuide.md
Labels: documentation

#95 Add junit test for dietsession and dietmanager
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/test/java/diet/dietmanager/CommandLibTest.java
  src/test/java/diet/dietmanager/DietManagerParserTest.java
  src/test/java/diet/dietsession/CommandLibTest.java
  src/test/java/diet/dietsession/DietSessionParserTest.java
Labels: diet, priority.High

#96 Add search to workoutsession
  src/main/java/commands/Command.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionAdd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionDelete.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionEnd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionHelp.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionList.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionSearch.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionWrong.java
  src/main/java/ui/workout/workoutmanager/WorkoutManagerUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSession.java
  src/main/java/workout/workoutsession/WorkoutSessionParser.java
  src/main/java/workout/workoutsession/exercise/Exercise.java
  src/test/java/workout/workoutsession/CommandLibTest.java
Labels: workout

#98 update DG
  docs/DeveloperGuide.md
Labels: documentation

#99 Update DG
  docs/DeveloperGuide.md
Labels: documentation

#101 Add new class exerciselist to contain exercise
  docs/DeveloperGuide.md
  docs/pictures/jinyang/WorkoutSessionAdd.puml
  src/main/java/commands/Command.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionAdd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionDelete.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionEnd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionHelp.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionList.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionSearch.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionWrong.java
  src/main/java/storage/workout/Storage.java
  src/main/java/workout/workoutsession/WorkoutSession.java
  src/main/java/workout/workoutsession/exercise/ExerciseList.java
Labels: workout

#102 Remove unused chunk from DG
  docs/DeveloperGuide.md
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/DietSessionParser.java
Labels: documentation

#104 Update DG with UML Diagram for Add Profile
  docs/DeveloperGuide.md
  docs/pictures/khoa/AddProfile.png
  docs/pictures/khoa/AddProfile.puml
Labels: documentation

#105 Update DG
  docs/DeveloperGuide.md
  docs/pictures/jinyang/WorkoutSessionAdd.png
  docs/pictures/jinyang/WorkoutSessionAdd.puml
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSession.java
Labels: documentation

#107 Renamed some titles for workoutsession in DG
  docs/DeveloperGuide.md
Labels: documentation

#109 Fix title numbering
  docs/DeveloperGuide.md
Labels: documentation

#113 Update Diet UI
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemSearch.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/commands/main/ToProfile.java
  src/main/java/commands/main/ToWorkout.java
  src/main/java/commands/main/Wrong.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/DietSessionParser.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/test/java/diet/dietsession/DietSessionParserTest.java
Labels: diet, type.Enhancement

#115 Apply singleton pattern to SchwarzeneggerLogger
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietmanager/DietSessionHelp.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemHelp.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemSearch.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/commands/main/Wrong.java
  src/main/java/commands/profile/AddProfile.java
  src/main/java/commands/profile/DeleteProfile.java
  src/main/java/commands/profile/EditProfile.java
  src/main/java/commands/profile/EndProfile.java
  src/main/java/commands/profile/HelpProfile.java
  src/main/java/commands/profile/ViewProfile.java
  src/main/java/commands/workout/workoutmanager/ByeWS.java
  src/main/java/commands/workout/workoutmanager/ClearWS.java
  src/main/java/commands/workout/workoutmanager/DeleteWS.java
  src/main/java/commands/workout/workoutmanager/EditWS.java
  src/main/java/commands/workout/workoutmanager/HelpWS.java
  src/main/java/commands/workout/workoutmanager/ListWS.java
  src/main/java/commands/workout/workoutmanager/NewWS.java
  src/main/java/commands/workout/workoutmanager/SearchWS.java
  src/main/java/commands/workout/workoutmanager/WrongWS.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/DietSessionParser.java
  src/main/java/logger/SchwarzeneggerLogger.java
  src/main/java/profile/ProfileSession.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/diet/Storage.java
  src/main/java/storage/profile/Storage.java
  src/main/java/workout/workoutmanager/WorkoutManager.java
  src/main/java/workout/workoutmanager/WorkoutManagerParser.java
  src/main/java/workout/workoutsession/WorkoutSession.java
  src/test/java/storage/profile/StorageTest.java
Labels: type.Task

#116 Update Duke.java to greet user with added name
  src/main/java/commands/Command.java
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietmanager/DietSessionHelp.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemHelp.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemSearch.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/commands/main/Help.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/profile/Constants.java
  src/main/java/profile/ProfileSession.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/diet/DietStorage.java
  src/main/java/storage/profile/ProfileStorage.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/profile/ProfileUi.java
  src/test/java/diet/DietTest.java
  src/test/java/diet/dietsession/DietSessionTest.java
  src/test/java/storage/profile/ProfileStorageTest.java
Labels: main, priority.High

#121 Fix minor bugs; Refactor getConfirmation to CommonUi
  src/main/java/commands/Command.java
  src/main/java/commands/CommandLib.java
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/main/Help.java
  src/main/java/commands/profile/ProfileAdd.java
  src/main/java/commands/profile/ProfileDelete.java
  src/main/java/commands/profile/ProfileEdit.java
  src/main/java/commands/profile/ProfileEnd.java
  src/main/java/commands/profile/ProfileHelp.java
  src/main/java/commands/profile/ProfileView.java
  src/main/java/commands/profile/ProfileWrong.java
  src/main/java/commands/workout/workoutmanager/ClearWS.java
  src/main/java/exceptions/profile/InvalidCommandFormatException.java
  src/main/java/exceptions/profile/InvalidNameException.java
  src/main/java/logger/SchwarzeneggerLogger.java
  src/main/java/profile/Constants.java
  src/main/java/profile/Profile.java
  src/main/java/profile/ProfileParser.java
  src/main/java/seedu/duke/Constant.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/profile/ProfileStorage.java
  src/main/java/storage/workout/WorkOutManagerStorage.java
  src/main/java/ui/CommonUi.java
  src/main/java/workout/workoutmanager/WorkoutManager.java
  src/test/java/storage/profile/ProfileStorageTest.java
  src/test/java/storage/profile/exampleProfileData.json
  src/test/java/storage/profile/invalidProfileData.json
Labels: bug, diet, main, profile, severity.Low, workout

#122 Add calories attribute to Profile
  docs/UserGuide.md
  src/main/java/commands/profile/ProfileAdd.java
  src/main/java/commands/profile/ProfileDelete.java
  src/main/java/commands/profile/ProfileEdit.java
  src/main/java/exceptions/profile/InvalidCaloriesException.java
  src/main/java/profile/Constants.java
  src/main/java/profile/Profile.java
  src/main/java/profile/ProfileParser.java
  src/main/java/profile/Utils.java
  src/main/java/seedu/duke/Duke.java
  src/test/java/profile/ProfileTest.java
  src/test/java/profile/UtilsTest.java
  src/test/java/storage/profile/exampleProfileData.json
Labels: documentation, enhancement, priority.High, profile, severity.Low

#124 Branch diet2
  src/main/java/commands/CommandLib.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietmanager/DietManagerParser.java
  src/main/java/exceptions/InvalidDateFormatException.java
  src/main/java/seedu/duke/Constant.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
  src/test/java/commands/CommandLibTest.java
  src/test/java/diet/dietmanager/CommandLibTest.java
Labels: diet

#125 Add printOpening and printReturning to CommonUi
  docs/UserGuide.md
  src/main/java/commands/main/ToProfile.java
  src/main/java/commands/main/ToWorkout.java
  src/main/java/ui/CommonUi.java
Labels: diet, main, profile, workout

#126 Update Command Format in UG
  docs/UserGuide.md
  src/main/java/commands/profile/ProfileAdd.java
  src/main/java/commands/profile/ProfileDelete.java
  src/main/java/commands/profile/ProfileEdit.java
  src/main/java/commands/profile/ProfileView.java
  src/main/java/models/Profile.java
  src/main/java/profile/Utils.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/storage/profile/ProfileStorage.java
  src/test/java/models/ProfileTest.java
  src/test/java/profile/ProfileTest.java
  src/test/java/profile/UtilsTest.java
  src/test/java/storage/profile/ProfileStorageTest.java
Labels: documentation

#128 Branch diet2
  docs/UserGuide.md
Labels: documentation

#129 Fix bugs in profile, update help message
  build.gradle
  docs/UserGuide.md
  src/main/java/commands/main/Help.java
  src/main/java/commands/profile/ProfileHelp.java
  src/main/java/commands/workout/workoutmanager/HelpWS.java
  src/main/java/exceptions/profile/InvalidAgeException.java
  src/main/java/profile/Constants.java
  src/main/java/profile/ProfileParser.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
Labels: bug, documentation, main, profile

#130 update ui bug at new diet session
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/diet/dietmanager/DietManagerParser.java
Labels: bug, diet

#134 Change some UI formatting and added more user messages.
  src/main/java/commands/Command.java
  src/main/java/commands/workout/workoutmanager/DeleteWS.java
  src/main/java/commands/workout/workoutmanager/EditWS.java
  src/main/java/commands/workout/workoutmanager/NewWS.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionAdd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionDelete.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionEnd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionHelp.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionList.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionSearch.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionWrong.java
  src/main/java/exceptions/workout/workoutmanager/InsufficientArgumentException.java
  src/main/java/exceptions/workout/workoutmanager/NotANumberException.java
  src/main/java/exceptions/workout/workoutmanager/OutOfArrayException.java
  src/main/java/exceptions/workout/workoutmanager/SchwIoException.java
  src/main/java/exceptions/workout/workoutsession/DeleteFormatException.java
  src/main/java/models/Exercise.java
  src/main/java/models/ExerciseList.java
  src/main/java/models/PastRecordList.java
  src/main/java/storage/workout/Storage.java
  src/main/java/storage/workout/WorkOutManagerStorage.java
  src/main/java/ui/workout/workoutmanager/WorkoutManagerUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutmanager/WorkoutManagerParser.java
  src/main/java/workout/workoutsession/WorkoutSession.java
  src/main/java/workout/workoutsession/WorkoutSessionParser.java
  src/test/java/workout/workoutmanager/WorkoutManagerParserTest.java
  src/test/java/workout/workoutsession/WorkoutSessionParserTest.java
Labels: type.Bug, workout

#138 Update DG spacing
  docs/DeveloperGuide.md
Labels: documentation

#139 Fix bugs in workout session list and add
  src/main/java/commands/workout/workoutsession/WorkoutSessionAdd.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionList.java
  src/main/java/exceptions/workout/workoutsession/AddFormatException.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSessionParser.java
Labels: bug, workout

#140 add search function, update ug and help command
  docs/UserGuide.md
  src/main/java/commands/Command.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemSearch.java
  src/main/java/diet/DateParser.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietmanager/DietManagerParser.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/DietSessionParser.java
  src/main/java/diet/dietsession/Food.java
  src/main/java/exceptions/diet/InvalidSearchDateException.java
  src/main/java/exceptions/diet/NegativeCaloriesException.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
  src/test/java/diet/dietmanager/DietManagerParserTest.java
Labels: diet, documentation, main, priority.High

#141 Add function to get total calories for the current day
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
Labels: diet, enhancement, priority.Medium

#143 Update View Profile with calories remaining; Refactor messages shown in Profile Menu
  src/main/java/commands/profile/ProfileAdd.java
  src/main/java/commands/profile/ProfileDelete.java
  src/main/java/commands/profile/ProfileEdit.java
  src/main/java/commands/profile/ProfileView.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/exceptions/EndException.java
  src/main/java/exceptions/InvalidCommandWordException.java
  src/main/java/exceptions/profile/InvalidCaloriesException.java
  src/main/java/exceptions/profile/InvalidCommandFormatException.java
  src/main/java/exceptions/profile/InvalidHeightException.java
  src/main/java/exceptions/profile/InvalidNameException.java
  src/main/java/exceptions/profile/InvalidSaveFormatException.java
  src/main/java/exceptions/profile/InvalidWeightException.java
  src/main/java/exceptions/profile/LoadingException.java
  src/main/java/exceptions/profile/RedundantParamException.java
  src/main/java/exceptions/profile/SavingException.java
  src/main/java/profile/Constants.java
  src/main/java/profile/Utils.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/profile/ProfileUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
Labels: diet, enhancement, profile, type.Story

#145 fixed diet delete and edit exception display
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
Labels: bug, diet

#144 Fix bug in workout session storage to account for corrupted files
  src/main/java/storage/workout/Storage.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
Labels: bug, severity.Medium, type.Bug, workout

#146 Update View Profile in UG and DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/pictures/khoa/ViewProfile.png
  docs/pictures/khoa/ViewProfile.puml
  src/main/java/commands/main/ToWorkout.java
Labels: documentation

#147 update DG diagrams
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/pictures/zesong/DeleteWS.png
  docs/pictures/zesong/DeleteWS.puml
  docs/pictures/zesong/EditWS.png
  docs/pictures/zesong/EditWS.puml
  docs/pictures/zesong/ListWS.png
  docs/pictures/zesong/ListWS.puml
  docs/pictures/zesong/NewWS.png
  docs/pictures/zesong/NewWS.puml
  docs/pictures/zesong/SearchWS.png
  docs/pictures/zesong/SearchWS.puml
Labels: documentation

#148 Update Javadoc, UG, DG
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/commands/Command.java
  src/main/java/commands/CommandLib.java
  src/main/java/commands/CommandResult.java
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionEdit.java
  src/main/java/commands/diet/dietmanager/DietSessionHelp.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietmanager/DietSessionWrong.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemHelp.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/commands/main/MainHelp.java
  src/main/java/commands/main/MainWrong.java
  src/main/java/commands/main/ToDiet.java
  src/main/java/commands/main/ToProfile.java
  src/main/java/commands/main/ToWorkout.java
  src/main/java/commands/profile/ProfileEdit.java
  src/main/java/commands/profile/ProfileEnd.java
  src/main/java/commands/profile/ProfileHelp.java
  src/main/java/commands/profile/ProfileView.java
  src/main/java/commands/profile/ProfileWrong.java
  src/main/java/commands/workout/workoutmanager/HelpWS.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietmanager/ExitException.java
  src/main/java/diet/dietsession/DietSession.java
  src/main/java/diet/dietsession/ExitException.java
  src/main/java/exceptions/EndException.java
  src/main/java/exceptions/diet/InvalidSearchDateException.java
  src/main/java/exceptions/workout/workoutmanager/InsufficientArgumentException.java
  src/main/java/exceptions/workout/workoutmanager/NotANumberException.java
  src/main/java/exceptions/workout/workoutmanager/OutOfArrayException.java
  src/main/java/exceptions/workout/workoutmanager/SchwIoException.java
  src/main/java/exceptions/workout/workoutsession/AddFormatException.java
  src/main/java/exceptions/workout/workoutsession/DeleteFormatException.java
  src/main/java/profile/ProfileParser.java
  src/main/java/profile/ProfileSession.java
  src/main/java/ui/CommonUi.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
  src/main/java/workout/workoutmanager/ExitException.java
  src/test/java/commands/CommandLibTest.java
Labels: documentation

#150 Update diet part ug; update diet delete ui; update javadoc
  docs/UserGuide.md
  src/main/java/commands/Command.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/commands/diet/dietsession/FoodItemClear.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/commands/diet/dietsession/FoodItemHelp.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/commands/diet/dietsession/FoodItemSearch.java
  src/main/java/commands/diet/dietsession/FoodItemWrong.java
  src/main/java/diet/dietmanager/DietManager.java
  src/main/java/diet/dietmanager/DietManagerParser.java
  src/main/java/diet/dietsession/DietSession.java
Labels: bug, diet, documentation

#151 update add food no name
  src/main/java/commands/diet/dietsession/FoodItemAdd.java
  src/main/java/diet/dietsession/DietSessionParser.java
  src/main/java/exceptions/diet/NoNameException.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
  src/test/java/diet/dietsession/DietSessionParserTest.java
Labels: bug, diet

#152 Fix bug in workoutManagerStorage and add unl diagrams
  docs/pictures/jinyang/WokroutSessionHelp.puml
  docs/pictures/jinyang/WorkoutSessionAdd.puml
  docs/pictures/jinyang/WorkoutSessionDelete.puml
  docs/pictures/jinyang/WorkoutSessionEnd.puml
  docs/pictures/jinyang/WorkoutSessionList.puml
  docs/pictures/jinyang/WorkoutSessionSearch.puml
  src/main/java/exceptions/profile/InvalidSaveFormatException.java
  src/main/java/models/PastRecordList.java
  src/main/java/storage/profile/ProfileStorage.java
  src/main/java/storage/workout/WorkOutManagerStorage.java
  src/main/java/ui/profile/ProfileUi.java
Labels: bug, documentation, workout

#153 Add exception handling for corrupted file
  docs/UserGuide.md
  src/main/java/models/PastRecordList.java
  src/main/java/storage/workout/WorkOutManagerStorage.java
Labels: bug

#154 Fix bugs
  src/main/java/commands/workout/workoutsession/WorkoutSessionList.java
  src/main/java/commands/workout/workoutsession/WorkoutSessionSearch.java
  src/main/java/storage/diet/DietStorage.java
  src/main/java/ui/profile/ProfileUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSessionParser.java
  src/test/java/commands/workout/workoutsession/WorkoutSessionAddTest.java
Labels: bug, diet, workout

#156 Fix bugs in Profile, update DG
  docs/DeveloperGuide.md
  src/main/java/commands/profile/ProfileDelete.java
  src/main/java/commands/profile/ProfileEnd.java
  src/main/java/commands/profile/ProfileHelp.java
  src/main/java/commands/profile/ProfileView.java
  src/main/java/commands/workout/workoutmanager/EditWS.java
  src/main/java/exceptions/profile/RedundantParamException.java
  src/main/java/exceptions/workout/workoutmanager/InsufficientArgumentException.java
  src/main/java/profile/ProfileParser.java
  src/main/java/profile/Utils.java
  src/main/java/ui/workout/workoutmanager/WorkoutManagerUi.java
  src/test/java/profile/ProfileParserTest.java
  src/test/java/profile/UtilsTest.java
Labels: bug, documentation, profile

#157 update dietsessionnew
  src/main/java/commands/diet/dietmanager/DietSessionClear.java
  src/main/java/commands/diet/dietmanager/DietSessionCreate.java
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/diet/dietmanager/DietManagerParser.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
Labels: bug, diet

#158 update ug
  docs/UserGuide.md
Labels: diet, documentation

#159 update dg
  docs/DeveloperGuide.md
Labels: diet, documentation

#160 Change list to table format, catch exception
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietmanager/DietSessionList.java
  src/main/java/commands/diet/dietsession/FoodItemList.java
  src/main/java/diet/dietsession/Food.java
  src/main/java/ui/diet/dietsession/DietSessionUi.java
Labels: bug, diet, documentation, type.Bug

#161 Update UG and some in-app messages for consistency
  docs/UserGuide.md
  src/main/java/commands/diet/dietmanager/DietSessionSearch.java
  src/main/java/exceptions/profile/InvalidSaveFormatException.java
  src/main/java/profile/Constants.java
  src/main/java/profile/Utils.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/ui/diet/dietmanager/DietManagerUi.java
  src/main/java/ui/profile/ProfileUi.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
Labels: documentation

#162 Fix bug in workoutsessionAdd parser, fixed some ui for workout and di…
  docs/UserGuide.md
  src/main/java/commands/diet/dietmanager/DietSessionDelete.java
  src/main/java/commands/diet/dietsession/FoodItemDelete.java
  src/main/java/ui/workout/workoutsession/WorkoutSessionUi.java
  src/main/java/workout/workoutsession/WorkoutSessionParser.java
Labels: bug, diet, documentation, type.Bug, workout

#166 Update DG diagrams
  docs/pictures/khoa/AddProfile.png
  docs/pictures/khoa/AddProfile.puml
  docs/pictures/khoa/DeleteProfile.png
  docs/pictures/khoa/DeleteProfile.puml
  docs/pictures/khoa/EditProfile.png
  docs/pictures/khoa/EditProfile.puml
  docs/pictures/khoa/ViewProfile.png
  docs/pictures/khoa/ViewProfile.puml
Labels: documentation
